<div style="float:right">
  <h3>Invoice ID: <%= @invoice.id %></h3>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <h5>Customer Name: <%= @invoice.customer.first_name + @invoice.customer.last_name%></h5>

</div>

<div class="invoice" style="float:left">
<% @invoice.invoice_items.each do |in_item| %>
  <p><%= in_item.item.name %></p>
  <p><%= in_item.quantity %></p>
  <p><%= in_item.unit_price %></p>
  <p><%= in_item.status %></p>
<% end %>
</div>

<%= render partial: 'form', locals: { model: [:admin, @invoice] }%>

<div class="total_revenue">
  <h3>Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100.to_f) %></h3>
</div>

<div class="discounted_revenue">
  <h3>Discounted Revenue: <%= number_to_currency(@invoice.discounted_revenue / 100.to_f) %></h3>
</div>
